<form method="POST" action="">
    {% csrf_token %}
    <table class="table table-success table-striped">
        <tr>
            <td>Title: </td>
            <td><input type="text" name="nama_barang" placeholder="Nama" class="form-control"></td>
        </tr>
        <tr>
            <td>Harga: </td>
            <td><input type="text" name="harga_barang" placeholder="Harga" class="form-control"></td>
        </tr>
                
        <tr>
            <td>Description: </td>
            <td><input type="description" name="deskripsi" placeholder="Description" class="form-control"></td>
        </tr>

        <tr>
            <td></td>
            <td><input class="btn btn-success" type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
